# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Abaikan dependency library yang di-install melalui forge install
lib/

# Abaikan file log dan metadata yang tidak diperlukan
*.log
*.json
*.DS_Store

# Abaikan hasil testing dan laporan cakupan kode
*.coverage
